body {
  font-family: Arial, sans-serif, 'Open-Sans', 'Roboto';
  background-color: #000000;
  text-align: center;
  position: relative;
  /* Ensure the body is positioned relative */
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  /* Adjust the opacity (last value) as needed */
  z-index: -1;
  /* Ensure the overlay is behind other content */
}

body {
  /* Keep your existing background properties */
  background-image: url('../image/bg.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
  padding: 0;
}


.container {
  width: 80%;
  /* Decrease the width */
  max-width: 300px;
  /* Set maximum width */
  text-align: center;
  padding: 20px;
  height: 500px;
  background-color: rgba(70, 39, 206, 0.97);
  color: #fff;
  border-radius: 5px;
  border: 1px solid rgba(70, 39, 206, 0.97);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
}


h1 {
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 80px;
  font-size: 25px;
  text-align: center;
  color: #c0bdb1;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
  color: #b6d9ea;
}

.userInput {
  display: none;
  text-align: center;
  margin: 10px;
}

p {
  font-size: 20px;
}

.hit-text {
  display: none;
  /* Initially hide the Hit text */
  font-size: 20px;
  margin-top: 10px;
  position: relative;
  text-align: center;
  left: 45%;
  right: 50%;
}

.game.active .hit-text {
  display: flex;
  margin-bottom: 5px;
}


.game {
  margin-top: 40px;
  margin-bottom: 10px;
  position: relative;
  text-align: center;
  /* Ensure proper positioning of child elements */
}

.clock {
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 30px;
}

.userInput {
  display: none;
  text-align: center;
  margin: 10px;
  position: relative;
}

.word {
  font-size: 27px;
  margin-top: 40px;
  text-transform: uppercase;
}

.time {
  font-size: 88px;
  line-height: 1.2;
  color: #fff;
}


input[type="text"] {
  padding: 5px;
  font-size: 20px;
  text-align: center;
  /* Center align the text */
  margin: 10px auto;
  /* Center the input horizontally */
  border-radius: 5px;
  width: 260px;
  height: 50px;
}


.restartBtn {
  display: none;
  font-size: 25px;
}

button {
  padding: 13px 20px;
  margin-top: 20px;
  width: 150px;
  margin-right: 10px;
  background-color: #07b4f3;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #0d9fd4;
}

.scoreBtn {
  background-color: #9667e0;
  color: #fff;
}

.scoreBtn:hover {
  background-color: #804bd4;
}

.resetBtn {
  margin-top: 10px;
}

main {
  display: flex;
  /* Use flexbox to center main content */
  justify-content: center;
  /* Horizontally center main content */
  align-items: center;
  /* Vertically center main content */
  min-height: 100vh;
  /* Set minimum height to 100% of viewport height */
  width: 100%;
  height: 200px;
  max-width: 800px;
  margin: auto;
}


.blur-container {
  filter: blur(5px);
}


.modal {
  display: none;
  position: fixed;
  text-align: center;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #9667e0;
  color: #fff;
  margin: 20% auto;
  padding: 20px;
  border: 1px solid #120606;
  width: 400px;
  border-radius: 10px;
  font-family: monospace;
  box-shadow: 5px 0 10px rgba(130, 126, 126, 0.5);
  /* Box shadow with rgba for transparency */
}

.score-details {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.score-details p {
  margin-right: 10px;
  text-align: center;
}


.close {
  color: #b6d9ea;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #82b5ce;
  text-decoration: none;
  cursor: pointer;
}

/* Media Queries */
@media only screen and (max-width: 480px) {
  .container {
    width: 90%;
    max-width: 600px;
  }

  .time {
    font-size: 60px;
  }

  .userInput {
    font-size: 10px;
  }

  button {
    font-size: 10px;
  }
}

@media only screen and (min-width: 600px) {
  .container {
    width: 80%;
    max-width: 600px;
  }

  .time {
    font-size: 60px;
  }

  .userInput {
    font-size: 10px;
  }

  button {
    font-size: 10px;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    width: 70%;
    max-width: 800px;
  }

  .userInput {
    font-size: 12px;
  }

  button {
    font-size: 12px;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    width: 60%;
    max-width: 1000px;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    width: 50%;
    max-width: 1200px;
  }
}